<app-adminui></app-adminui>
<div class="body p-3">

  <div class="card text-center m-3 card shadow  rounded">
    <div class="card-header headerr text-center">

            <!-- <h2 class="heading" style="color: white;">
               Subcategories
            </h2> -->
            <div class="row">
              <div class="col-11"><h2>Subcategories</h2></div>
              <div class="col-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#NewSubcategoryModal">
                <i class="fas fa-plus fa-lg" style="color: #ffffff;" data-bs-toggle="tooltip" 
                data-bs-placement="bottom" title="Add New SubCategory"></i></button></div>
            </div>
          </div>
        <div class="card-body"  style="background:rgb(223, 209, 238)">
            <!-- <div class="btn-container mb-2 text-end">
                <Button class="btn btn-primary"  data-bs-target='#NewSubcategoryModal' data-bs-toggle='modal'>Add SubCategory</Button>
              </div>  -->
            <div class="table-responsive">
                <table
                id="tableData1"
                class="table w-100 table-striped table-bordered table-hover mt-3 "
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                >
                <thead class="table-dark" ></thead>
                </table>
            </div>


          
</div>
</div>

</div>

<app-footer></app-footer>

<div class="modal fade" id="NewSubcategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"  id="exampleModalLabel">Add SubCategory</h1>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times fa-lg" style="color: white;"></i></button>

        </div>
        <div class="modal-body">
            <form [formGroup]="yourForm">
              <div class="row">
                <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                  <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Asset Type</label><span style="color: red;">*</span>
                    <select class="form-select" (change)="getCategoriesfunction()" aria-label="Default select example" 
                    [(ngModel)]="assetTypeModel" name="assetType"
                    formControlName="assetType"
                    [ngClass]="{ 'is-invalid': submitted && f.assetType.errors }"
                    >
                        <option value="">----Select----</option>
                        <option *ngFor="let i of assetTypeData">
                          {{i.asset_type}}
                      </option>
                      </select>
                      <div *ngIf="yourForm.get('assetType').hasError('required')" class="invalid-feedback">
                        Asset Type is required.
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                  <div class="mb-4">
                    <label for="exampleInputEmail3" class="form-label">Category</label><span style="color: red;">*</span>
                    <select class="form-select"  aria-label="Default select example" 
                    (change)="getCategoryIdfunction()"
                    [(ngModel)]="assetcategoryModel" name="category"
                    [ngClass]="{ 'is-invalid': submitted && f.category.errors }"
                    formControlName="category"
                    >
                        <option value="">----Select----</option>
                        <option *ngFor="let i of assetcategoryData">
                          {{i.category}}
                      </option>
                      </select>
                      <div *ngIf="yourForm.get('category').hasError('required')" class="invalid-feedback">
                        Category is required.
                    </div>
                  </div>
                </div>
                </div>
           
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                      <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">Sub Category</label><span style="color: red;">*</span>
                        <input type="text" class="form-control" [(ngModel)]="addSubCategoryModel" 
                        name="subcategory" id="exampleInputEmail1" 
                        placeholder="Add sub category"
                        formControlName="subcategory"
                        [ngClass]="{ 'is-invalid': submitted && f.subcategory.errors }"
                        >
                        <div *ngIf="yourForm.get('subcategory').hasError('required')" class="invalid-feedback">
                          Sub Category is required.
                      </div>
                      </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                      <div class="mb-4">
                        <label for="exampleInputEmail3" class="form-label">Total Quantity</label><span style="color: red;">*</span>
                        <input type="number" class="form-control" [(ngModel)]="addTotalQtyModel" 
                        name="totalqty" id="exampleInputEmail1"
                        formControlName="totalqty"
                        placeholder="units"
                        [ngClass]="{ 'is-invalid': submitted && f.totalqty.errors }"
                        >
                        <div *ngIf="yourForm.get('totalqty').hasError('required')" class="invalid-feedback">
                         Total Quantity is required.
                      </div>
                      <div *ngIf="yourForm.get('totalqty').hasError('pattern')" class="invalid-feedback">
                        Invalid number format. Please use natural numbers.
                    </div>
                      </div>
                    </div>
                    </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addSubCategoryFunction()" data-bs-dismiss="modal" >Add</button>
    
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"  id="exampleModalLabel">Edit Subcategory</h1>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times fa-lg" style="color: white;"></i></button>

        </div>
        <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                  <div class="mb-4">
                    <label for="exampleInputPassword3" class="form-label">Asset Type</label>
                    <input type="text" class="form-control" id="EditAssetTypeID" disabled>
                    
                  </div>
                </div>
                <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                  <div class="mb-4">
                    <label for="exampleInputEmail3" class="form-label">Category</label>
                    <input type="text" class="form-control" name="editcategory" [(ngModel)]="editCategoryNameModel" id="EditCategoryID" disabled>
                  </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                      <div class="mb-4">
                        <label for="exampleInputPassword3" class="form-label">Subcategory</label>
                        <input type="text" class="form-control" name="editsubcategory" [(ngModel)]="editSubCategoryNameModel" id="EditSubcategoryID" >
                        
                      </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                      <div class="mb-4">
                        <label for="exampleInputEmail3" class="form-label">Total Qty</label>
                        <input type="text" class="form-control" name="editTotalQty" [(ngModel)]="editTotalQtyModel" id="EditTotalQtyID" >
                      </div>
                    </div>
                    </div>
             
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="EditSubCategoryFunction()" data-bs-dismiss="modal">Update</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

